
/* Global Styles */

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.dropdown {
    cursor:pointer;
}


.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1;
    /* change this to change the background color of a colored section */
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

.linkedin-link a:hover {
    color: #007fb1;
}

.google-plus-link a:hover {
    color: #d14836;
}

/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}

/* Footer Styles */
footer {
	margin: 20px 0 0 0;
    padding: 40px 0;
    background-color:  #cccccc;
    position:absolute;
    width:100%;
    bottom:0px;
}

.footer{
	
}

.parallaxPage{
	height:300px;
}

.parallax {
  perspective: 1px;
  -webkit-perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  padding: 100vh 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer_base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.parallax__layer_back {
   -webkit-transform: translateZ(-1px);
   transform: translateZ(-1px);
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size:35px;
}

.content {
    margin-top: 100vh;
    width: 100%;
    height: 800px;
    background-color: #e67e22;
}

.backgroundImage {
    width: 100%;
    height: auto;
}

.parallax_layer_back { transform: translateZ(-1px) scale(2); }
.parallax_layer_deep { transform: translateZ(-2px) scale(3); }
