<!-- <div class="container parallaxPage"></div>
	<div class="parallax">
	  <div class="parallax__layer parallax__layer--back">
	   <div class="title"> Back layer</div>
	  </div>
	  <div class="parallax__layer parallax__layer--base">
		 <div class="title">Base Layer</div>
	  </div>
	</div>
</div> -->

<div class="parallax">
  <div class="parallax_layer parallax_layer_back">
    <img class="backgroundImage" src="images/PeidmontPark.JPG"> </div>
  <div class="parallax_layer parallax_layer_base">
    <div class="title">Title</div>
    <div class="content">Content area</div>
  </div>
</div>
