<!-- <div class="container parallaxPage"></div>
	<div class="parallax">
	  <div class="parallax__layer parallax__layer--back">
	   <div class="title"> Back layer</div>
	  </div>
	  <div class="parallax__layer parallax__layer--base">
		 <div class="title">Base Layer</div>
	  </div>
	</div>
</div> -->




<div class="container parallaxPage"></div>
	<div class="parallax">
	  <div class="parallax__layer parallax__layer--back">
	  	<div class="row">
        	<div class="col-md-6">
            	<img class="img-responsive" src="images/PeidmontPark.JPG">
        	</div>
        </div>
	  </div>
	  <div class="parallax__layer parallax__layer--base">
			  	<div class="row">
        	<div class="col-md-6">
            	<img class="img-responsive" src="images/PeidmontPark.JPG">
        	</div>
        </div>
	  </div>
	</div>
</div> 
