<!-- <div class="container parallaxPage"></div>
	<div class="parallax">
	  <div class="parallax__layer parallax__layer--back">
	   <div class="title"> Back layer</div>
	  </div>
	  <div class="parallax__layer parallax__layer--base">
		 <div class="title">Base Layer</div>
	  </div>
	</div>
</div> -->

<div class="parallax">
	<div class="parallax_layer parallax_layer_back">
    	<img class="backgroundImage" src="images/PiedmontPark.JPG"> 
  	</div>
  	<div class="parallax_layer parallax_layer_base">
    	<div class="title text">Paul Maserrat's Parallax Demo</div>
    	<div class="title2 text">Pure CSS3 Parallax</div>
     	<div class="title3 text">Piedmont Park</div>
	    <div class="content"></div>
	</div>
	<div class="parallax_layer parallax_layer_back bottomLayer">
    	<img class="backgroundImage" src="images/4thWardPark1.JPG"> 
  	</div>
</div>
